modules = ["nodejs-20", "web", "python-3.12"]
run = "cd frontend && npm install"

[nix]
channel = "stable-25_05"

[deployment]
run = ["sh", "-c", "cd frontend && npm install"]

[[ports]]
localPort = 3000
externalPort = 80

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 42337250
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd frontend && npm run dev"
